* {
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins','sans-serif'; 
    }
    body {
        background: rgb(87, 87, 87);
        color: #ededed;
    background-size: cover;
    }
    
 
.contenedor{
    padding-top: 100px;
display: flex;
width: 85%;
margin: auto;
justify-content: space-around;
flex-wrap: wrap;
border-radius: 3px;
}
.contenedor figure{
    position: relative;
    height: 250px;
    width: 32%;
    margin-bottom: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0,0.50);
    cursor: pointer;
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}